# This file maintains persistent names for buffalo nas micon name.
# See udev(7) for syntax.

####################
# rules for TS6000
####################
LABEL="ts6000_rules"

SUBSYSTEM=="tty", DEVPATH=="*/pnp0/*", ATTR{irq}=="7", SYMLINK+="micon_port"

GOTO="rules_end"

####################
# end of rules
####################
LABEL="rules_end"