[PARSER]
    Name        access_log_ltsv
    Format      ltsv
#    Time_Key    time
    # 2023-01-19T18:19:37+09:00
#    Time_Format %Y-%m-%dT%H:%M:%S%:z
    Types       request_length:integer status:integer bytes_sent:integer request_time:float upstream_bytes_received:integer upstream_response_length:integer upstream_response_time:float
