$TTL    86400
@       IN      SOA     localhost. root.localhost. (
                              2         ; Serial
                           3600         ; Refresh
                            900         ; Retry
                         604800         ; Expire
                          86400 )       ; Negative Cache TTL

@       IN      NS      localhost.
; Change these IP's to the IP that you give your cache
@       IN      A       {{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }}
*       IN      A       {{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }}
