[Unit]
Description=Miconapl daemon
Before=networking.service

[Service]
Type=forking
ExecStart=/usr/local/sbin/miconapl -D start
ExecStartPost=/usr/local/bin/update-lcd
ExecStartPost=/usr/local/bin/set-led power on
ExecStartPost=/usr/local/bin/set-led lcd_g on
ExecStartPost=/usr/local/bin/set-led lcd_b on
ExecStop=/usr/local/bin/set-led power blink
ExecStop=/usr/local/bin/disp-lcd 'Shutting Down...'
ExecStop=/usr/local/sbin/miconapl -D stop
Restart=always
KillMode=none

[Install]
WantedBy=multi-user.target
