[Unit]
Description=Tell Terastation it finished booting so it doesnt shutdown
Wants=network-online.target                                                                                  
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/update-lcd.sh
ExecStartPost=/usr/local/sbin/set-led.sh 0 ON
ExecStartPost=/usr/local/sbin/set-led.sh 4 ON
ExecStartPost=/usr/local/sbin/set-led.sh 5 ON

[Install]
WantedBy=multi-user.target
